body {
  margin: 2.5em;
}

.box.a { grid-area: a; }
.box.b { grid-area: b; }
.box.c { grid-area: c; }
.box.d { grid-area: d; }

.wrapper {
  display: grid;
  grid-template-areas: 
    'a d d'
    'a c b';
  gap: 0.625em;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5em;
}
